<footer class="bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-3">
                <h5>Contact Us</h5>
                <p>Email: info@example.com</p>
                <p>Phone: +1 (123) 456-7890</p>
            </div>
            <div class="col-md-3 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-3">
                <h5>Social Media</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-3">
                <h5>Newsletter</h5>
                <p>Subscribe to our newsletter to receive updates and offers.</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Email Address">
                    <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-4">
    <div class="text-center">
        <p>&copy; 2023 Your Company Name. All rights reserved.</p>
    </div>
  </footer>